<form (ngSubmit)="onSubmit(nameForm)" #nameForm="ngForm">
  <div class="form-group">
    <label>Student Number</label><input type="text" id="studNo" name="studNo" ngModel class="form-control"><br>
  </div>
  <div class="form-group">
    <label>Student First Name</label><input type="text" id="studFname" name="studFname" ngModel class="form-control"><br>
  </div>
  <div class="form-group">
    <label>Student Last Name</label><input type="text" id="studLname" name="studLname" ngModel class="form-control"><br>
  </div>
  <div class="form-group">
    <label>Student Program</label><input type="text" id="studProg" name="studProg" ngModel class="form-control"><br>
  </div>
  <div class="form-group">
    <label>Student Year</label><input type="text" id="studYr" name="studYr" ngModel class="form-control"><br>
  </div>

  <div id="options">
    <button id="addStudents" class="btn btn-primary" type="submit">
      Add Student Entry
    </button>
    <!-- <button id="listStudents" class="btn btn-primary" type="submit">
      List Students
    </button> -->
</div>
</form>
<!-- <div>
  {{ messages }}
</div>

<div *ngIf="printing">
    <table>
      <thead>
        <tr>
          <th>Student Number</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Program Enrolled</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let studentRecord of studentCollection">
          <td>{{ studentRecord.studNumber }}</td>
          <td>{{ studentRecord.studFirstName }}</td>
          <td>{{ studentRecord.studLastName }}</td>
          <td>{{ studentRecord.studProgram }}</td>
          <td>{{ studentRecord.studYear }}</td>
        </tr>
      </tbody>
    </table>
</div> -->