<table>
      <thead>
        <tr>
          <th>Student Number</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Program Enrolled</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentCollection">
          <td>{{ student.Number }}</td>
          <td>{{ student.Firstname }}</td>
          <td>{{ student.Lastname }}</td>
          <td>{{ student.Program }}</td>
          <td>{{ student.Year }}</td>
        </tr>
      </tbody>
    </table>